<!-- About Start -->
<div class="container-xxl py-5 wow fadeInUp" id="about" >
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="row g-3">
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s" src="../images/about-1.jpg">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s" src="../images/about-2.jpg"
                             style="margin-top: 25%;">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s" src="../images/about-3.jpg">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.7s" src="../images/about-4.jpg">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h5 class="section-title ff-secondary text-start text-primary fw-normal">Sobre Nosotros</h5>
                <h1 class="mb-4">Bienvenido a <i class="fa fa-heart text-primary me-2"></i>Distribución Solidaria</h1>
                <p class="mb-4">Nos dedicamos a la distribución de viandas en heladeras a lo largo del país. Proveemos
                    un sistema que organiza estas heladeras, asigna contribuidores y distribuye viandas a personas
                    vulnerables, asegurando que cada uno reciba la ayuda que necesita.</p>
                <p class="mb-4">Nuestra misión es combatir el hambre y apoyar a las comunidades más necesitadas. Nos
                    esforzamos por mantener un sistema eficiente y accesible que conecte a los contribuidores con las
                    heladeras, garantizando que cada vianda llegue a su destino.</p>
                <div class="row g-4 mb-4">
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                            <h1 class="flex-shrink-0 display-5 text-primary mb-0">0</h1>
                            <div class="ps-4">
                                <p class="mb-0">Años de</p>
                                <h6 class="text-uppercase mb-0">Experiencia</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                            <h1 class="flex-shrink-0 display-5 text-primary mb-0">{{cantidadHeladerasActivas}}</h1>
                            <div class="ps-4">
                                <p class="mb-0">Heladeras</p>
                                <h6 class="text-uppercase mb-0">Activas</h6>
                            </div>
                        </div>
                    </div>
                </div>
            {{#if estaSesion}}
                <a class="btn btn-primary py-3 px-5 mt-2" href="/index/{{rol}}">Contribuir</a>
            {{else}}
                <a class="btn btn-primary py-3 px-5 mt-2" href="/login">Contribuir</a>
            {{/if}}
            </div>
        </div>
    </div>
</div>
<!-- About End -->