<link href="../css/estilos.css" rel="stylesheet">

<!-- Service Start -->
<div class="container-xxl py-5" id="services">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Servicios</h5>
            <h1 class="mb-5">Explora Nuestros Servicios</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-tachometer-alt text-primary mb-4"></i>
                        <h5>Monitoreo de Heladeras</h5>
                        <p>Control en tiempo real del estado y ubicación de las heladeras distribuidas en diferentes puntos del país.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-map-marker-alt text-primary mb-4"></i>
                        <h5>Mapa Interactivo de Heladeras</h5>
                        <p>Consulta y visualiza en un mapa interactivo la ubicación de las heladeras cercanas para donaciones o retiros.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-exchange-alt text-primary mb-4"></i>
                        <h5>Canjes de Productos</h5>
                        <p>Acumula puntos por tus donaciones y canjéalos por productos a través de nuestro sistema de recompensas.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-hands-helping text-primary mb-4"></i>
                        <h5>Varias Contribuciones</h5>
                        <p>Participa de diferentes maneras: donando dinero, alimentos, o haciéndote cargo de una heladera en tu comunidad.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
