/* Ocultar campo de cantidad inicialmente */
#cantidadMenores {
    display: none;
}
#domicilioActual{
    display: none;
}
#ingresarDocumento{
    display: none;
}
h3 {
    font-family: Arial, sans-serif; /* O el que sea usado por defecto */
    font-size: 14px; /* Ajusta según el estilo por defecto del label */
    font-weight: normal; /* O el que sea usado por defecto */
    color: black; /* O el color usado por defecto */
}