<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Contribuciones</title>

    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/estilos.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <link href="../../css/lib/animate/animate.min.css" rel="stylesheet">
    <link href="../../css/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../../css/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
</head>
<body>
{{> templates/partials/headerColaborador rol=rol id=id}}  <!-- Incluye el partial footer aquí -->
{{> templates/partials/tipografia}}  <!-- Incluye el partial footer aquí -->

<div class="contact_section layout_padding">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-3 text-dark text-center">Acciones Disponibles</h1>
            </div>
        </div>
        {{#if colaborador}}
        <div class="blog_section_2 mt-5">
            <div class="row justify-content-center">
                <!-- Generar Contribución -->
                <div class="col-lg-3 col-sm-6 wow fadeInUp d-flex align-items-stretch" data-wow-delay="0.1s">
                    <a href="/contribuciones" class="text-decoration-none w-100">
                        <div class="service-item rounded pt-3 text-center d-flex flex-column justify-content-center h-100">
                            <div class="p-4">
                                <i class="fa fa-3x fa-hand-holding-heart text-primary mb-4"></i>
                                <h5 class="text-dark">Generar Contribución</h5>
                                <p class="text-dark">Puede realizar una contribución única o periódica para apoyar nuestras causas.</p>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Ver Puntos Heladeras -->
                <div class="col-lg-3 col-sm-6 wow fadeInUp d-flex align-items-stretch" data-wow-delay="0.2s">
                    <a href="/heladeras" class="text-decoration-none w-100">
                        <div class="service-item rounded pt-3 text-center d-flex flex-column justify-content-center h-100">
                            <div class="p-4">
                                <i class="fa fa-3x fa-map-marker-alt text-primary mb-4"></i>
                                <h5 class="text-dark">Ver Puntos Heladeras</h5>
                                <p class="text-dark">Consulta los puntos donde puedes encontrar heladeras cercanas para donar o retirar viandas.</p>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Canjear un Producto -->
                <div class="col-lg-3 col-sm-6 wow fadeInUp d-flex align-items-stretch" data-wow-delay="0.3s">
                    <a href="/productos" class="text-decoration-none w-100">
                        <div class="service-item rounded pt-3 text-center d-flex flex-column justify-content-center h-100">
                            <div class="p-4">
                                <i class="fa fa-3x fa-exchange-alt text-primary mb-4"></i> <!-- Cambiado a icono de intercambio -->
                                <h5 class="text-dark">Canjear un Producto</h5>
                                <p class="text-dark">Canjea tus puntos acumulados por productos o servicios disponibles en nuestra plataforma.</p>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Puntos de recomendacion -->
                <div class="col-lg-3 col-sm-6 wow fadeInUp d-flex align-items-stretch" data-wow-delay="0.3s">
                    <a href="/registro/puntos" class="text-decoration-none w-100">
                        <div class="service-item rounded pt-3 text-center d-flex flex-column justify-content-center h-100">
                            <div class="p-4">
                                <i class="fa fa-3x fa-map-marker-alt text-primary mb-4"></i> <!-- Cambiado a icono de marcador de mapa -->
                                <h5 class="text-dark">Puntos de Recomendación</h5>
                                <p class="text-dark">Obtén puntos al sugerir nuevos lugares para instalar nuestras heladeras comunitarias y contribuye a ampliar nuestra red de ayuda.</p>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Ver Contribuciones -->
                <div class="col-lg-3 col-sm-6 wow fadeInUp d-flex align-items-stretch mt-4" data-wow-delay="0.2s">
                    <a href="/{{rol}}/{{usuario.id}}/contribuciones" class="text-decoration-none w-100">
                        <div class="service-item rounded pt-3 text-center d-flex flex-column justify-content-center h-100">
                            <div class="p-4">
                                <i class="fa fa-3x fa-map-marker-alt text-primary mb-4"></i>
                                <h5 class="text-dark">Ver mis Contribuciones</h5>
                                <p class="text-dark">Consulta tu historial de contribuciones.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Ver Historial de Canjes -->
                <div class="col-lg-3 col-sm-6 wow fadeInUp d-flex align-items-stretch mt-4" data-wow-delay="0.2s">
                    <a href="/{{rol}}/{{usuario.id}}/historialcanjes" class="text-decoration-none w-100">
                        <div class="service-item rounded pt-3 text-center d-flex flex-column justify-content-center h-100">
                            <div class="p-4">
                                <i class="fa fa-3x fa-history text-primary mb-4"></i>
                                <h5 class="text-dark">Ver Historial de Canjes</h5>
                                <p class="text-dark">Consulta el historial de productos o servicios canjeados con tus puntos.</p>
                            </div>
                        </div>
                    </a>
                </div>
                {{/if}}
                <div class="col-lg-3 col-sm-6 wow fadeInUp d-flex align-items-stretch mt-4" data-wow-delay="0.2s">
                    <a href="/reportes" class="text-decoration-none w-100">
                        <div class="service-item rounded pt-3 text-center d-flex flex-column justify-content-center h-100">
                            <div class="p-4">
                                <i class="fa fa-3x fa-file-alt text-primary mb-4"></i>
                                <h5 class="text-dark">Ver Reportes</h5>
                                <p class="text-dark">Crea reportes que brindan informacin sobre heladeras,colaboradores y demas.</p>
                            </div>
                        </div>
                    </a>
                </div>
                {{#if tecnico}}
                <div class="blog_section_2 mt-5">
                    <div class="row justify-content-center">
                        <!-- Generar visita tecnica -->
                        <div class="col-lg-3 col-sm-6 wow fadeInUp d-flex align-items-stretch" data-wow-delay="0.1s">
                            <a href="/contribuciones" class="text-decoration-none w-100">
                                <div class="service-item rounded pt-3 text-center d-flex flex-column justify-content-center h-100">
                                    <div class="p-4">
                                        <i class="fa fa-3x fa fa-wrench text-primary mb-4"></i>
                                        <h5 class="text-dark">Generar visita técnica</h5>
                                        <p class="text-dark">Genere un reporte en donde detalle el resultado de la visita que realizó.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Consultar fallas -->
                        <div class="col-lg-3 col-sm-6 wow fadeInUp d-flex align-items-stretch" data-wow-delay="0.2s">
                            <a href="/heladeras" class="text-decoration-none w-100">
                                <div class="service-item rounded pt-3 text-center d-flex flex-column justify-content-center h-100">
                                    <div class="p-4">
                                        <i class="fa fa-3x fa-exclamation-triangle text-primary mb-4"></i>
                                        <h5 class="text-dark">Consultar estado de fallas</h5>
                                        <p class="text-dark">Visualize las fallas asignadas y consulte su estado.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-sm-6 wow fadeInUp d-flex align-items-stretch mt-4" data-wow-delay="0.2s">
                            <a href="/deccosalud" class="text-decoration-none w-100">
                                <div class="service-item rounded pt-3 text-center d-flex flex-column justify-content-center h-100">
                                    <div class="p-4">
                                        <i class="fa fa-3x fa-stethoscope text-primary mb-4"></i>
                                        <h5 class="text-dark">Decco Salud</h5>
                                        <p class="text-dark">Ve reportes que brindan información sobre la ubicación de las personas vulnerables.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                {{/if}}


            </div>
        </div>
    </div>
</div>

{{> templates/main/footer}}
{{> templates/partials/botonBack}}

</body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="../../css/lib/wow/wow.min.js"></script>
<script src="../../css/lib/easing/easing.min.js"></script>
<script src="../../css/lib/waypoints/waypoints.min.js"></script>
<script src="../../css/lib/counterup/counterup.min.js"></script>
<script src="../../css/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="../../css/lib/tempusdominus/js/moment.min.js"></script>
<script src="../../css/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="../../css/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<script src="../../js/scripts-header.js"></script>
<script src="../../js/main.js"></script>


</html>
