<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Heladera</title>

    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/estilos.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <link href="../../css/lib/animate/animate.min.css" rel="stylesheet">
    <link href="../../css/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../../css/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

</head>

<body>
{{> templates/partials/headerColaborador rol = rol  id=id}}  <!-- Incluye el partial footer aquí -->
{{> templates/partials/tipografia}}  <!-- Incluye el partial footer aquí -->
<main>
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h5 class="section-title ff-secondary text-center text-primary fw-normal">Nueva Heladera</h5>
                <h1 class="mb-5">Registrar Heladera</h1>
            </div>
            <div class="row g-4">
                <div class="col-md-6 wow fadeIn" data-wow-delay="0.4s">
                    <h1 class="display-5 text-black-50 animated slideInLeft">Mantén las heladeras activas</h1>
                    <p class="text-dark animated slideInLeft mb-4 pb-3">
                        Registra una nueva heladera para asegurar que los alimentos se mantengan en buen estado y disponibles para quienes más lo necesitan.
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="wow fadeInUp" data-wow-delay="0.2s">
                        <form method="POST" action="/registro/heladera">
                            <div class="row g-3">
                                <div class="col-md-12 d-flex align-items-center">
                                    <div class="form-floating me-2" style="flex: 1;">
                                        <select class="form-control form-control-sm" id="localidad" name="localidad" required onchange="actualizarCoordenadas()">
                                            <option value="" disabled selected>Seleccionar Localidad</option>
                                            <option value="belgrano">Belgrano</option>
                                            <option value="palermo">Palermo</option>
                                            <option value="recoleta">Recoleta</option>
                                            <option value="villa-crespo">Villa Crespo</option>
                                            <option value="caballito">Caballito</option>
                                            <option value="almagro">Almagro</option>
                                            <option value="flores">Flores</option>
                                            <option value="villa-urquiza">Villa Urquiza</option>
                                            <option value="boedo">Boedo</option>
                                            <option value="barracas">Barracas</option>
                                            <option value="san-telmo">San Telmo</option>
                                            <option value="villa-devoto">Villa Devoto</option>
                                            <option value="nunez">Núñez</option>
                                            <option value="retiro">Retiro</option>
                                            <option value="san-nicolas">San Nicolás</option>
                                            <option value="monserrat">Monserrat</option>
                                            <option value="parque-chacabuco">Parque Chacabuco</option>
                                            <option value="constitucion">Constitución</option>
                                            <option value="barrio-norte">Barrio Norte</option>
                                            <option value="parque-patricios">Parque Patricios</option>
                                            <option value="chacarita">Chacarita</option>
                                            <option value="villa-lugano">Villa Lugano</option>
                                            <option value="mataderos">Mataderos</option>
                                            <option value="liniers">Liniers</option>
                                            <option value="villa-ortuzar">Villa Ortúzar</option>
                                            <option value="villa-santa-rita">Villa Santa Rita</option>
                                            <option value="saavedra">Saavedra</option>
                                            <option value="villa-real">Villa Real</option>
                                        </select>
                                        <label for="localidad">Localidad</label>
                                    </div>
                                </div>

                                <input type="hidden" id="latitud" name="latitud">
                                <input type="hidden" id="longitud" name="longitud">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="calle" name="calle" placeholder="Calle" required>
                                        <label for="calle">Calle</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="number" class="form-control" id="numero" name="numero" placeholder="Número" required>
                                        <label for="numero">Número</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <select class="form-control" id="estado" name="estado" required>
                                            <option value="" disabled selected>Seleccionar Estado</option>
                                            <option value="disponible">DISPONIBLE</option>
                                            <option value="no-disponible">NO DISPONIBLE</option>
                                        </select>
                                        <label for="estado">Estado Actual</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="number" class="form-control" id="temperaturaMax" name="temperaturaMax" placeholder="Temperatura Máxima" step="0.1" required>
                                        <label for="tempMax">Temperatura Máxima</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="number" class="form-control" id="temperaturaMin" name ="temperaturaMin" placeholder="Temperatura Mínima" step="0.1" required>
                                        <label for="tempMin">Temperatura Mínima</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="number" class="form-control" id="capacidad" name="capacidad" placeholder="Capacidad heladera" step="0.1" required>
                                        <label for="capacidad">Capacidad heladera</label>
                                    </div>
                                </div>
                                {{#unless esAdmin}}
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <select class="form-control" id="hacerseCargo" name="hacerseCargo" required>
                                            <option value="" disabled selected>Seleccionar Opción</option>
                                            <option value="si">Sí</option>
                                            <option value="no">No</option>
                                        </select>
                                        <label for="hacerseCargo">¿Desea hacerse cargo de la heladera?</label>
                                    </div>
                                </div>
                                {{/unless}}
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Registrar Heladera</button>
                                </div>
                                <div class="col-12">
                                <a href="/registro/puntos" class= "btn btn-outline-warning w-100 py-3">¡Buscar puntos estratégicos para tu heladera!</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
{{> templates/main/footer}}
{{> templates/partials/botonBack}}
</body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="../../css/lib/wow/wow.min.js"></script>
<script src="../../css/lib/easing/easing.min.js"></script>
<script src="../../css/lib/waypoints/waypoints.min.js"></script>
<script src="../../css/lib/counterup/counterup.min.js"></script>
<script src="../../css/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="../../css/lib/tempusdominus/js/moment.min.js"></script>
<script src="../../css/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="../../css/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<script src="../../js/scripts-header.js"></script>
<script src="../../js/main.js"></script>

<script>
    // Mapa de coordenadas para cada localidad
    const coordenadasLocalidades = {
        'belgrano': { latitud: -34.5625, longitud: -58.4585 },
        'palermo': { latitud: -34.5889, longitud: -58.4306 },
        'recoleta': { latitud: -34.5875, longitud: -58.3974 },
        'villa-crespo': { latitud: -34.6019, longitud: -58.4333 },
        'caballito': { latitud: -34.6186, longitud: -58.4419 },
        'almagro': { latitud: -34.6066, longitud: -58.4281 },
        'flores': { latitud: -34.6346, longitud: -58.4444 },
        'villa-urquiza': { latitud: -34.5722, longitud: -58.4858 },
        'boedo': { latitud: -34.6254, longitud: -58.4268 },
        'barracas': { latitud: -34.6372, longitud: -58.3847 },
        'san-telmo': { latitud: -34.6217, longitud: -58.3738 },
        'villa-devoto': { latitud: -34.5988, longitud: -58.5165 },
        'nunez': { latitud: -34.5508, longitud: -58.4645 },
        'retiro': { latitud: -34.5944, longitud: -58.3745 },
        'san-nicolas': { latitud: -34.6037, longitud: -58.3816 },
        'monserrat': { latitud: -34.6144, longitud: -58.3804 },
        'parque-chacabuco': { latitud: -34.6341, longitud: -58.4406 },
        'constitucion': { latitud: -34.6272, longitud: -58.3818 },
        'barrio-norte': { latitud: -34.5875, longitud: -58.3974 },
        'parque-patricios': { latitud: -34.6355, longitud: -58.4046 },
        'chacarita': { latitud: -34.5873, longitud: -58.4465 },
        'villa-lugano': { latitud: -34.6729, longitud: -58.4726 },
        'mataderos': { latitud: -34.6563, longitud: -58.4991 },
        'liniers': { latitud: -34.6425, longitud: -58.5231 },
        'villa-ortuzar': { latitud: -34.5863, longitud: -58.4682 },
        'villa-santa-rita': { latitud: -34.6108, longitud: -58.4738 },
        'saavedra': { latitud: -34.5615, longitud: -58.4827 },
        'villa-real': { latitud: -34.6116, longitud: -58.5151 }
    };

    // Función que actualiza las coordenadas según la localidad seleccionada
    function actualizarCoordenadas() {
        const localidadSeleccionada = document.getElementById('localidad').value;
        const coordenadas = coordenadasLocalidades[localidadSeleccionada];
        if (coordenadas) {
            document.getElementById('latitud').value = coordenadas.latitud;
            document.getElementById('longitud').value = coordenadas.longitud;
        }
    }
</script>


</html>
