<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seguimiento de Incidente</title>

    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/estilos.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <link href="../../css/lib/animate/animate.min.css" rel="stylesheet">
    <link href="../../css/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../../css/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
</head>

<body>
{{> templates/partials/headerColaborador rol=rol id=id}} <!-- Incluye el partial header -->
{{> templates/partials/tipografia}} <!-- Incluye el partial tipografía -->

<main>
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h5 class="section-title ff-secondary text-center text-primary fw-normal">Seguimiento de Incidente</h5>
                <h1 class="mb-5">Ingresar Código de Seguimiento</h1> <!-- Cambiado -->
            </div>
            <div class="row g-4">
                <div class="col-md-6 wow fadeIn" data-wow-delay="0.4s">
                    <h1 class="display-5 text-black-50 animated slideInLeft">Consulta el estado de tu incidente</h1>
                    <p class="text-dark animated slideInLeft mb-4 pb-3">
                        Ingresa el código de seguimiento de tu incidente para conocer su estado actual. <!-- Cambiado -->
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="wow fadeInUp" data-wow-delay="0.2s">

                        <form id="formIncidente" method="GET" onsubmit="handleSubmit(event)">
                            <div class="row g-3">
                                <div class="col-md-12">
                                    <div class="form-floating">
                                        <input type="text" name="codigoSeguimiento" class="form-control" id="id" placeholder="Código de Seguimiento" required>
                                        <label for="id">Código de Seguimiento</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary w-100 py-3 zoom-btn">Consultar</button>
                                </div>
                            </div>
                        </form>



                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{{> templates/main/footer}} <!-- Incluye el partial footer -->
{{> templates/partials/botonBack}} <!-- Incluye el botón de retroceso -->

</body>
<script>
    function handleSubmit(event) {
        event.preventDefault(); // Prevenir el envío del formulario por defecto
        var form = event.target;
        var id = encodeURIComponent(form.codigoSeguimiento.value);
        window.location.href = '/incidentes/' + id; // Redirigir a la nueva URL
    }
</script>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="../../css/lib/wow/wow.min.js"></script>
<script src="../../css/lib/easing/easing.min.js"></script>
<script src="../../css/lib/waypoints/waypoints.min.js"></script>
<script src="../../css/lib/counterup/counterup.min.js"></script>
<script src="../../css/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="../../css/lib/tempusdominus/js/moment.min.js"></script>
<script src="../../css/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="../../css/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<script src="../../js/scripts-header.js"></script>
<script src="../../js/main.js"></script>

</html>
