<!-- header.html -->
<!-- Contenido del header -->
<link rel="stylesheet" href="../css/header.css">

<!-- LOGO -->
<link href="img/favicon.ico" rel="icon">

<div class="container-xxl fixed-top p-0">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
            <a href="" class="navbar-brand p-0">
                <h1 class="text-primary m-0"><i class="fa fa-utensils me-3"></i>Grupo 9</h1>
                <!-- <img src="img/logo.png" alt="Logo"> -->
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0 pe-4">
                    <a href="index.html" class="nav-item nav-link active">Inicio</a>
                    <a href="#about" class="nav-item nav-link">Sobre nosotros</a>
                    <a href="#services" class="nav-item nav-link">Servicios</a>
                    <a href="menu.html" class="nav-item nav-link">Mapa</a>
                    <a href="#team" class="nav-item nav-link">Nuestro Equipo</a>
                    <a href="#contact" class="nav-item nav-link">Contactanos</a>
                </div>
                <a href="#services" class="btn btn-primary py-2 px-4">Contribuir</a>
            </div>
        </nav>
</div>



