<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>

    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/estilos.css">
    <link rel="stylesheet" href="../../css/efectos.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <link href="../../css/lib/animate/animate.min.css" rel="stylesheet">
    <link href="../../css/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../../css/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />


    <link rel= "stylesheet" href= "https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" >

</head>

<body>
{{> templates/partials/header estaSesion = estaSesion}}
{{> templates/partials/tipografia}}
<main>
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h5 class="section-title ff-secondary text-center text-primary fw-normal">Bienvenido de nuevo</h5>
                <h1 class="mb-5">Iniciar Sesión</h1>
            </div>
            <div class="row g-4">
                <div class="col-md-6 wow fadeIn" data-wow-delay="0.4s">
                    <h1 class="display-5 text-black-50 animated slideInLeft">Accede a tu cuenta</h1>
                    <p class="text-dark animated slideInLeft mb-4 pb-3">
                        Ingresa tus credenciales para continuar. Si aún no tienes una cuenta, regístrate para unirte a nuestra comunidad.
                    </p>
                </div>

                <div class="col-md-6">
                    <div class="wow fadeInUp" data-wow-delay="0.2s">
                        {{#if contraseniaError}}
                            <p class="text-primary fw-bolder mb-2 wow shake">Contraseña o usuario Erróneo! Vuelve a intentarlo por favor :)</p>
                        {{/if}}
                        <form method="POST" action="/login">
                            <div class="row g-3">
                                <div class="col-md-12">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Nombre de usuario" required>
                                        <label for="usuario">Nombre de usuario</label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-floating">
                                        <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña" required>
                                        <label for="password">Contraseña</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Iniciar Sesión</button>
                                </div>
                                <div class="col-12">
                                    <button class="btn w-100 py-3 border-primary">
                                        <a href="/sso/login" class="d-flex align-items-center w-100 justify-content-center ">
                                            <i class="lab la-google-plus-g fa-2x me-2" style="line-height: 1;"></i> Iniciar sesión con Google
                                        </a>
                                    </button>
                                </div>
                                <div class="col-12 text-center">
                                    <button class="btn btn-secondary w-100 py-3" type="button" onclick="window.location.href='/registro';">Registrarse</button>
                                </div>
                            </div>
                        </form>

                        <div class="text-center mt-3">
                            <a href="/recuperar" class="text-primary">¿Olvidó su contraseña?</a>
                        </div>
                    </div>





                </div>
            </div>
        </div>
    </div>
</main>
{{> templates/main/footer}}
{{> templates/partials/botonBack}}

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="../../css/lib/wow/wow.min.js"></script>
<script src="../../css/lib/easing/easing.min.js"></script>
<script src="../../css/lib/waypoints/waypoints.min.js"></script>
<script src="../../css/lib/counterup/counterup.min.js"></script>
<script src="../../css/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="../../css/lib/tempusdominus/js/moment.min.js"></script>
<script src="../../css/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="../../css/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Template Javascript -->
<script src="../../js/main.js"></script>
<script src="../../js/scripts-index.js"></script>
<script src="../../js/scripts-header.js"></script>

</body>
</html>
