<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movimientos de Viandas por Heladera</title>
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/estilos.css">
</head>
<body>
{{> templates/partials/headerColaborador rol=rol id=id}}

<div class="container mt-5">
    <h1 class="text-center">Movimientos de Viandas por Heladera</h1>

    <!-- Verificamos si hay reportes -->
    {{#if listaReportes}}
        <div class="table-responsive mt-4">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Fecha del Reporte</th>
                    <th>Acción</th>
                </tr>
                </thead>
                <tbody>
                <!-- Listamos los reportes -->
                {{#each listaReportes}}
                    <tr>
                        <td>{{this.fecha}}</td>
                        <td>
                            <!-- Al hacer clic en el botón, enviamos el id del reporte al controlador -->
                            <form action="/reportes/detalles?tipo={{tipoReporte}}" method="POST">
                                <input type="hidden" name="idReporte" value="{{this.id}}">
                                <button type="submit" class="btn btn-primary">Ver Reporte</button>
                            </form>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    {{else}}
        <p class="text-center">No hay reportes disponibles.</p>
    {{/if}}

</div>

{{> templates/main/footer}}
{{> templates/partials/botonBack}}

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
