<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donar Dinero</title>

    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/estilos.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <link href="../../css/lib/animate/animate.min.css" rel="stylesheet">
    <link href="../../css/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../../css/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />


</head>

<body>
{{> templates/partials/headerColaborador rol=rol id=id}}  <!-- Incluye el partial footer aquí -->
{{> templates/partials/tipografia}}  <!-- Incluye el partial footer aquí -->
<main>
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h5 class="section-title ff-secondary text-center text-primary fw-normal">Haz una Donación</h5>
                <h1 class="mb-5">Donar Dinero</h1>
            </div>
            <div class="row g-4">
                <div class="col-md-6 wow fadeIn" data-wow-delay="0.4s">
                    <h1 class="display-5 text-black-50 animated slideInLeft">Tu aporte hace la diferencia</h1>
                    <p class="text-dark animated slideInLeft mb-4 pb-3">
                        Contribuye para que podamos seguir apoyando a quienes más lo necesitan.
                        Tu donación es fundamental para mantener nuestros programas activos.
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="wow fadeInUp" data-wow-delay="0.2s">
                        <form action="/contribucionExitosa" method="POST">
                            <div class="row g-3">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-text">$</span>
                                        <div class="form-floating flex-grow-1">
                                            <input type="number" class="form-control" name="monto" id="monto" placeholder="Monto" min="0" step="0.01" required>
                                            <label for="monto">Monto</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-floating">
                                        <select class="form-control" id="frecuencia" name="frecuencia"  required>
                                            <option value="" disabled selected>Seleccionar Frecuencia</option>
                                            <option value="DIARIO">DIARIO</option>
                                            <option value="MENSUAL">MENSUAL</option>
                                            <option value="TRISTREMAL">TRIMESTRAL</option>
                                            <option value="ANUAL">ANUAL</option>
                                        </select>
                                        <label for="frecuencia">Frecuencia</label>
                                    </div>
                                </div>
                                <input type="hidden" name="tipo" value="DONACION_DINERO">
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary w-100 py-3 zoom-btn" >Donar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
{{> templates/main/footer}}
{{> templates/partials/botonBack}}
</body>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="../../css/lib/wow/wow.min.js"></script>
<script src="../../css/lib/easing/easing.min.js"></script>
<script src="../../css/lib/waypoints/waypoints.min.js"></script>
<script src="../../css/lib/counterup/counterup.min.js"></script>
<script src="../../css/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="../../css/lib/tempusdominus/js/moment.min.js"></script>
<script src="../../css/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="../../css/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<script src="../../js/scripts-header.js"></script>
<script src="../../js/main.js"></script>

</html>
