<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canje exitoso</title>

    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/estilos.css">
    <link rel="stylesheet" href="../../css/efectos.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <link href="../../css/lib/animate/animate.min.css" rel="stylesheet">
    <link href="../../css/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../../css/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

</head>

<body>
{{> templates/partials/headerColaborador rol=rol id=id}} <!-- Incluye el partial header -->
{{> templates/partials/tipografia}} <!-- Incluye el partial tipografía -->
<main>
    <div class="container-xxl py-5">
        <div class="container d-flex flex-column align-items-center justify-content-center">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="section-title ff-secondary text-primary fw-normal">Canje realizado con éxito</h1>
            </div>
            <img src="../../images/check_green.png" class="text-center my-4" style="width: 50px; height: 50px;">
            <p class="text-dark animated slideInLeft mb-4 pb-3 text-center">
                ¡Tu canje ha sido procesado con éxito!
            </p>
            <a href="/productos" class="btn btn-primary py-2 px-4">Ir al inicio</a>
        </div>
    </div>
</main>
</body>

{{> templates/main/footer}}
{{> templates/partials/botonBack}}


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="../../css/lib/wow/wow.min.js"></script>
<script src="../../css/lib/easing/easing.min.js"></script>
<script src="../../css/lib/waypoints/waypoints.min.js"></script>
<script src="../../css/lib/counterup/counterup.min.js"></script>
<script src="../../css/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="../../css/lib/tempusdominus/js/moment.min.js"></script>
<script src="../../css/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="../../css/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<script src="../../js/scripts-header.js"></script>
<script src="../../js/main.js"></script>


</html>
