<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ofertas de Productos</title>

    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/estilos.css">
    <link rel="stylesheet" href="../../css/efectos.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <link href="../../css/lib/animate/animate.min.css" rel="stylesheet">
    <link href="../../css/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../../css/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
</head>
<body>

{{> templates/partials/headerColaborador rol=rol id=id}}  <!-- Incluye el partial header aquí -->
{{> templates/partials/tipografia}}  <!-- Incluye el partial tipografia aquí -->

<!-- Productos Ofrecidos Start --><section class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Ofertas</h5>
            <h1 class="mb-5">Últimos Agregados</h1>
        </div>
        <div class="row g-4">
            {{#if productos.length}}
                {{#each productos}}
                    <div class="col-lg-6">
                        <div class="d-flex align-items-center">
                            <img class="flex-shrink-0 img-fluid rounded" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Imagen_no_disponible.svg" alt="" style="width: 80px;">
                            <div class="w-100 d-flex flex-column text-start ps-4">
                                <h5 class="d-flex justify-content-between border-bottom pb-2">
                                    <span>{{this.producto.nombre}}</span>
                                    <a href="/productos/{{this.id}}" class="btn btn-primary">Ver Detalles</a>
                                </h5>
                                <small class="fst-italic">{{this.producto.descripcion}}</small>
                            </div>
                        </div>
                    </div>
                {{/each}}
            {{else}}
                <div class="text-center">
                    <p class="text-muted fst-italic">No hay productos publicados en este momento.</p>
                </div>
            {{/if}}
        </div>
    </div>
</section>


{{> templates/main/footer}}
{{> templates/partials/botonBack}}

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="../../css/lib/wow/wow.min.js"></script>
<script src="../../css/lib/easing/easing.min.js"></script>
<script src="../../css/lib/waypoints/waypoints.min.js"></script>
<script src="../../css/lib/counterup/counterup.min.js"></script>
<script src="../../css/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="../../css/lib/tempusdominus/js/moment.min.js"></script>
<script src="../../css/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="../../css/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<script src="../../js/scripts-header.js"></script>
<script src="../../js/main.js"></script>

</body>
</html>
