<!DOCTYPE html>
<html>
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- site metas -->
    <title>Inicio</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    <!-- Responsive -->
    <link rel="stylesheet" href="../public/css/responsive.css">
    <!-- favicon -->
    <link rel="icon" href="../public/images/fevicon.png" type="image/gif" />
    <!-- font css -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="../public/css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
</head>
<body>
<div class="header_section header_bg">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/"><img src="../public/images/logo.png" alt="Logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/"><b>Inicio</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/fridge/map"><b>Mapa</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html"><b>Contacto</b></a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <div class="login_bt">
                        <ul>
                            <li><a href="/login"><span class="user_icon"><i class="fa fa-user" aria-hidden="true"></i></span><b>Login</b></a></li>
                            <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </form>
            </div>
        </nav>
    </div>
</div>

<div class="contact_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="about_taital">CANJES DE OFERTA!!!</h1>
            </div>
        </div>

        <!-- Carousel Section -->
        <div id="productosCarrusel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#productosCarrusel" data-slide-to="0" class="active"></li>
                <li data-target="#productosCarrusel" data-slide-to="1"></li>
                <li data-target="#productosCarrusel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://via.placeholder.com/800x400" class="d-block w-100" alt="Producto 1">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Producto 1</h5>
                        <p>Descripción del Producto 1</p>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#productoDetalleModal" data-nombre="Producto 1" data-imagen="https://via.placeholder.com/800x400" data-descripcion="Descripción detallada del Producto 1"><a href="/producto-canje.html" class="btn btn-primary">Ver Detalle</a></button>
                    </div>
                </div>
                <div class="carousel-item">
                <img src="../public/images/empresa.jpg" class="d-block w-100" alt="Producto 2">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Producto 2</h5>
                        <p>Descripción del Producto 2</p>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#productoDetalleModal" data-nombre="Producto 2" data-imagen="https://via.placeholder.com/800x400" data-descripcion="Descripción detallada del Producto 2"><a href="/producto-canje.html" class="btn btn-primary">Ver Detalle</a></button>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://via.placeholder.com/800x400" class="d-block w-100" alt="Producto 3">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Producto 3</h5>
                        <p>Descripción del Producto 3</p>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#productoDetalleModal" data-nombre="Producto 3" data-imagen="https://via.placeholder.com/800x400" data-descripcion="Descripción detallada del Producto 3"><a href="/producto-canje.html" class="btn btn-primary">Ver Detalle</a></button>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#productosCarrusel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#productosCarrusel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
            </a>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="productoDetalleModal" tabindex="-1" role="dialog" aria-labelledby="productoDetalleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalNombre">Nombre del Producto/Servicio</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img id="modalImagen" src="" alt="Imagen del Producto/Servicio" class="img-fluid mb-3">
                        <p id="modalDescripcion">Descripción del Producto/Servicio.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Lista de Canjes -->
        <div class="row mt-5">
            <div class="col-md-12">
                <h2 class="text-center">Canjes Disponibles</h2>
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                        Canje 1
                        <span class="badge badge-primary badge-pill">Detalles</span>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                        Canje 2
                        <span class="badge badge-primary badge-pill">Detalles</span>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                        Canje 3
                        <span class="badge badge-primary badge-pill">Detalles</span>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                        Canje 4
                        <span class="badge badge-primary badge-pill">Detalles</span>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                        Canje 5
                        <span class="badge badge-primary badge-pill">Detalles</span>
                    </a>
                    <!-- Añade más elementos según sea necesario -->
                </div>
            </div>
        </div>
    </div>
</div>!
<!-- blog section end -->

<!-- contact section end -->
<div>
    <h1 class="about_taital_1"></h1>
</div>
<!-- footer section start -->
<div class="footer_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer_social_icon">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="location_text">
                    <ul>
                        <li>
                            <a href="#">
                                <i class="fa fa-phone" aria-hidden="true"></i><span class="padding_left_10">+01 1234567890</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-envelope" aria-hidden="true"></i><span class="padding_left_10">coffo@gmail.com</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer section end -->
<!-- copyright section start -->
<div class="copyright_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p class="copyright_text">2024 All Rights Reserved. Design by ElPereee</p>
            </div>
        </div>
    </div>
</div>
<!-- copyright section end -->
<!-- Javascript files -->
<script src="../public/js/jquery.min.js"></script>
<script src="../public/js/popper.min.js"></script>
<script src="../public/js/bootstrap.bundle.min.js"></script>
<script src="../public/js/plugin.js"></script>
<!-- sidebar -->
<script src="../public/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="../public/js/custom.js"></script>

</body>
</html>
