<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <!-- Links importantes -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/estilos.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <link href="../../css/lib/animate/animate.min.css" rel="stylesheet">
    <link href="../../css/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../../css/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
</head>
<body>
{{> templates/partials/headerColaborador esHumano = esHumano  id=id}}  <!-- Incluye el partial footer aquí -->
{{> templates/partials/tipografia}}  <!-- Incluye el partial footer aquí -->

<div class="contact_section layout_padding">
        <div class="container mt-5">
        <div class="row">
        <div class="col-md-12">
        <h1 class="display-3 text-dark text-center">Contribuciones</h1>
    </div>
    </div>

        <div class="blog_section_2 mt-5">
            <div class="row">
                {{#if esHumano}}
                <div class="col-md-6 mb-4">
                    <div class="blog_box border rounded p-3 h-100">
                        <div class="blog_img mb-3 align-content-center">
                            <img src="../images/team-2.jpg" class="img-fluid zoom-img card-img-bottom">
                        </div>
                        <h4 class="prep_text">Donación de Dinero</h4>
                        <p class="lorem_text">Puede donar un monto por una sola vez o periódicamente.</p>
                        <div class="read_btn text-center">
                            <a href="/contribuciones/create?tipo=donarDinero" class="btn btn-primary zoom-img">Donar</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="blog_box border rounded p-3 h-100">
                        <div class="blog_img mb-3">
                            <img src="../images/team-1.jpg" class="img-fluid zoom-img card-img-bottom">
                        </div>
                        <h4 class="prep_text">Donacion de Vianda</h4>
                        <p class="lorem_text">Puede donar viandas para ser colocadas en las heladeras.</p>
                        <div class="read_btn text-center">
                            <a href="/contribuciones/create?tipo=donarViandas" class="btn btn-primary zoom-img">Sumarse</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="blog_box border rounded p-3 h-100">
                        <div class="blog_img mb-3 align-content-center">
                            <img src="../images/team-3.jpg" class="img-fluid zoom-img card-img-bottom">
                        </div>
                        <h4 class="prep_text">Distribucion de Viandas</h4>
                        <p class="lorem_text">Puede sumarse al sistema de distribucion de viandas entre heladeras.</p>
                        <div class="read_btn text-center">
                            <a href="/contribuciones/create?tipo=distribucionViandas" class="btn btn-primary zoom-img">Sumarse</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="blog_box border rounded p-3 h-100">
                        <div class="blog_img mb-3">
                            <img src="../images/team-1.jpg" class="img-fluid zoom-img card-img-bottom">
                        </div>
                        <h4 class="prep_text">Registrar a personas vulnerabes</h4>
                        <p class="lorem_text">Puede contribuir recibiendo tarjetas y entregandoselas a personas vulnerables.</p>
                        <div class="read_btn text-center">
                            <a href="/contribuciones/create?tipo=registrarPersonaVulnerable" class="btn btn-primary zoom-img">Sumarse</a>
                        </div>
                    </div>
                </div>
                {{else}}
                    <div class="col-md-6 mb-4">
                        <div class="blog_box border rounded p-3 h-100">
                            <div class="blog_img mb-3 align-content-center">
                                <img src="../images/team-2.jpg" class="img-fluid zoom-img card-img-bottom">
                            </div>
                            <h4 class="prep_text">Donación de Dinero</h4>
                            <p class="lorem_text">Puede donar un monto por una sola vez o periódicamente.</p>
                            <div class="read_btn text-center">
                                <a href="/contribuciones/create?tipo=donarDinero" class="btn btn-primary zoom-img">Donar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="blog_box border rounded p-3 h-100">
                            <div class="blog_img mb-3">
                                <img src="../images/team-1.jpg" class="img-fluid zoom-img card-img-bottom">
                            </div>
                            <h4 class="prep_text">Hacerse cargo de heladera</h4>
                            <p class="lorem_text">Puede contribuir haciendose cargo de una heladera y manejar su funcionamiento.</p>
                            <div class="read_btn text-center">
                                <a href="/contribuciones/create?tipo=hacerseCargoHeladera" class="btn btn-primary zoom-img">Sumarse</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="blog_box border rounded p-3 h-100">
                            <div class="blog_img mb-3">
                                <img src="../images/team-3.jpg" class="img-fluid zoom-img card-img-bottom">
                            </div>
                            <h4 class="prep_text">Ofrecer producto</h4>
                            <p class="lorem_text">Puede ofrecer productos vinculados a su organizacion para que los colaboradores canjeen por puntos.</p>
                            <div class="read_btn text-center">
                                <a href="/contribuciones/create?tipo=ofrecerProducto" class="btn btn-primary zoom-img">Ofrecer</a>
                            </div>
                        </div>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
    {{> templates/main/footer}}
    {{> templates/partials/botonBack}}
</div>
</body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="../../css/lib/wow/wow.min.js"></script>
<script src="../../css/lib/easing/easing.min.js"></script>
<script src="../../css/lib/waypoints/waypoints.min.js"></script>
<script src="../../css/lib/counterup/counterup.min.js"></script>
<script src="../../css/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="../../css/lib/tempusdominus/js/moment.min.js"></script>
<script src="../../css/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="../../css/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<script src="../../js/scripts-header.js"></script>
<script src="../../js/main.js"></script>
</html>
