<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse como Persona Juridica</title>

    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/estilos.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="../../css/lib/animate/animate.min.css" rel="stylesheet">
    <link href="../../css/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../../css/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
</head>

{{> templates/partials/header estaSesion = estaSesion}}
{{> templates/partials/tipografia}}

<body>
<main>
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h5 class="section-title ff-secondary text-center text-primary fw-normal">Registrate!</h5>
                <h1 class="mb-5">Persona Juridica</h1>
            </div>
            <div class="row g-4">
                <div class="col-md-6 wow fadeIn" data-wow-delay="0.4s">
                    <h1 class="display-5 text-black-50 animated slideInLeft">¡Haz la diferencia en la vida de quienes más lo necesitan!</h1>
                    <p class="text-dark animated slideInLeft mb-4 pb-3">Únete a nuestro esfuerzo para distribuir comidas a quienes más lo necesitan. Con tu ayuda, podemos asegurar que cada persona tenga acceso a una comida caliente y un poco de esperanza. ¡Te esperamos!</p>
                </div>
                <div class="col-md-6">
                    <div class="wow fadeInUp" data-wow-delay="0.2s">
                        <form method="POST" action="/registro/juridico">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="nombre_usuario" name="nombre_usuario" placeholder="Nombre de Usuario" required>
                                <label for="nombre_usuario">Nombre de Usuario</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="contrasenia" name="contrasenia" placeholder="Contraseña" required>
                                <label for="contrasenia">Contraseña</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="razon_social" name="razon_social" placeholder="Razon Social" required>
                                <label for="razon_social">Razon Social</label>
                            </div>

                            <div class="form-floating mb-3">
                                <select class="form-control" id="tipo_juridico" name="tipo_juridico" required>
                                    <option value="" disabled selected>Seleccionar Tipo Juridico</option>
                                    <option value="GUBERNAMENTAL">GUBERNAMENTAL</option>
                                    <option value="ONG">ONG</option>
                                    <option value="EMPRESA">EMPRESA</option>
                                    <option value="INSTITUCION">INSTITUCION</option>
                                </select>
                                <label for="tipo_juridico">Tipo Juridico</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                                <label for="email">Email</label>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="calle" name="calle" placeholder="Calle" required>
                                        <label for="calle">Calle</label>
                                    </div>
                                </div>

                                <div class="col-md-6 mb-3">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="numero" name="numero" placeholder="Numero" required>
                                        <label for="numero">Número</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-floating mb-3">
                                <select class="form-control" id="localidad" name="localidad" required>
                                    <option value="" disabled selected>Seleccionar Localidad</option>
                                    <option value="almagro">Almagro</option>
                                    <option value="balvanera">Balvanera</option>
                                    <option value="barracas">Barracas</option>
                                    <option value="belgrano">Belgrano</option>
                                    <option value="boedo">Boedo</option>
                                    <option value="caballito">Caballito</option>
                                    <option value="chacarita">Chacarita</option>
                                    <option value="colegiales">Colegiales</option>
                                    <option value="constitucion">Constitución</option>
                                    <option value="flores">Flores</option>
                                    <option value="floresta">Floresta</option>
                                    <option value="la-boca">La Boca</option>
                                    <option value="la-paternal">La Paternal</option>
                                    <option value="liniers">Liniers</option>
                                    <option value="mataderos">Mataderos</option>
                                    <option value="monserrat">Monserrat</option>
                                    <option value="nueva-pompeya">Nueva Pompeya</option>
                                    <option value="nunez">Núñez</option>
                                    <option value="palermo">Palermo</option>
                                    <option value="parque-avellaneda">Parque Avellaneda</option>
                                    <option value="parque-chacabuco">Parque Chacabuco</option>
                                    <option value="parque-chas">Parque Chas</option>
                                    <option value="parque-patricios">Parque Patricios</option>
                                    <option value="puerto-madero">Puerto Madero</option>
                                    <option value="recoleta">Recoleta</option>
                                    <option value="retiro">Retiro</option>
                                    <option value="saavedra">Saavedra</option>
                                    <option value="san-cristobal">San Cristóbal</option>
                                    <option value="san-nicolas">San Nicolás</option>
                                    <option value="san-telmo">San Telmo</option>
                                    <option value="velez-sarsfield">Vélez Sarsfield</option>
                                    <option value="versalles">Versalles</option>
                                    <option value="villa-crespo">Villa Crespo</option>
                                    <option value="villa-del-parque">Villa del Parque</option>
                                    <option value="villa-devoto">Villa Devoto</option>
                                    <option value="villa-gral-mitre">Villa Gral. Mitre</option>
                                    <option value="villa-lugano">Villa Lugano</option>
                                    <option value="villa-luro">Villa Luro</option>
                                    <option value="villa-ortuzar">Villa Ortúzar</option>
                                    <option value="villa-pueyrredon">Villa Pueyrredón</option>
                                    <option value="villa-real">Villa Real</option>
                                    <option value="villa-riachuelo">Villa Riachuelo</option>
                                    <option value="villa-santa-rita">Villa Santa Rita</option>
                                    <option value="villa-soldati">Villa Soldati</option>
                                    <option value="villa-urquiza">Villa Urquiza</option>
                                </select>
                                <label for="localidad">Localidad</label>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3 zoom-btn" type="submit">Registrarse</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{{> templates/main/footer}}
{{> templates/partials/botonBack}}

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="../../css/lib/wow/wow.min.js"></script>
<script src="../../css/lib/easing/easing.min.js"></script>
<script src="../../css/lib/waypoints/waypoints.min.js"></script>
<script src="../../css/lib/counterup/counterup.min.js"></script>
<script src="../../css/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="../../css/lib/tempusdominus/js/moment.min.js"></script>
<script src="../../css/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="../../css/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Template Javascript -->
<script src="../../js/main.js"></script>
<script src="../../js/scripts-index.js"></script>
<script src="../../js/scripts-header.js"></script>
</body>

</html>
